---
swagger: "2.0"
info:
  description: "A simple API to learn how to write OpeanAPI Specification"
  version: "1.0.0"
  title: "Simple API"
host: "simple.api"
basePath: "/openapi101"
schemes:
- "https"
- "http"
paths:
  /persons:
    get:
      summary: "Gets some persons"
      description: "Returns a list containing all persons."
      operationId: "persons_get"
      parameters:
      - name: "User_Agent"
        in: "header"
        required: true
        type: "string"
      - name: "pageSize"
        in: "query"
        description: "Number of persons returned"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        exclusiveMaximum: false
        exclusiveMinimum: true
        multipleOf: 10
      - name: "PageNumber"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
      responses:
        200:
          description: "A list of Person"
          schema:
            $ref: "#/definitions/Persons"
        500:
          description: "An unexpected error occured."
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
    post:
      summary: "Creates a person"
      description: "Adds a new person to the persons list."
      operationId: "persons_post"
      parameters:
      - name: "User_Agent"
        in: "header"
        required: true
        type: "string"
      - in: "body"
        name: "person"
        description: "The person to create."
        required: false
        schema:
          $ref: "#/definitions/Person"
      responses:
        204:
          description: "Persons succesfully created."
        400:
          description: "Persons couldn't have been created."
        500:
          description: "An unexpected error occured."
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /persons/{username}:
    get:
      summary: "Gets a person"
      description: "Returns a single person for its username."
      operationId: "persons_username_get"
      parameters:
      - name: "username"
        in: "path"
        description: "The persons's username"
        required: true
        type: "string"
        maxLength: 64
        minLength: 8
        pattern: "[a-z0-9]{8,64}"
        x-regex: "[a-z0-9]{8,64}"
        x-modifiers: []
      responses:
        200:
          description: "A Person"
          schema:
            $ref: "#/definitions/Person"
        404:
          description: "The Person does not exists."
        500:
          description: "An unexpected error occured."
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
    delete:
      summary: "Deletes a person"
      description: "Delete a single person indentified via its username"
      operationId: "persons_username_delete"
      parameters:
      - name: "username"
        in: "path"
        description: "The persons's username"
        required: true
        type: "string"
        maxLength: 64
        minLength: 8
        pattern: "[a-z0-9]{8,64}"
        x-regex: "[a-z0-9]{8,64}"
        x-modifiers: []
      responses:
        204:
          description: "Person successfully deleted."
        404:
          description: "Person does not Exist."
        500:
          description: "An unexpected error occured."
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /persons/{username}/friends:
    get:
      summary: "Gets a person's friends"
      description: "Returns a list containing all persons. The list supports paging."
      operationId: "persons_username_friends_get"
      parameters:
      - name: "username"
        in: "path"
        description: "The persons's username"
        required: true
        type: "string"
        maxLength: 64
        minLength: 8
        pattern: "[a-z0-9]{8,64}"
        x-regex: "[a-z0-9]{8,64}"
        x-modifiers: []
      - name: "pageSize"
        in: "query"
        description: "Number of persons returned"
        required: false
        type: "integer"
        default: 20
        maximum: 100
        exclusiveMaximum: false
        exclusiveMinimum: true
        multipleOf: 10
      - name: "PageNumber"
        in: "query"
        description: "Page number"
        required: false
        type: "integer"
        default: 1
      responses:
        200:
          description: "A person's friends list"
          schema:
            $ref: "#/definitions/Persons"
        404:
          description: "Person does not Exist."
        500:
          description: "An unexpected error occured."
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /images:
    post:
      summary: "Uploads an image"
      operationId: "images_post"
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "User_Agent"
        in: "header"
        required: true
        type: "string"
      - name: "image"
        in: "formData"
        required: false
        type: "file"
      responses:
        200:
          description: "Image's ID"
          schema:
            properties:
              imageId:
                type: "string"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /images/{imageId}:
    get:
      summary: "Gets an image"
      operationId: "images_image_id_get"
      produces:
      - "image/png"
      - "image/gif"
      - "image/jep"
      - "application/json"
      - "application/x-yaml"
      parameters:
      - name: "User_Agent"
        in: "header"
        required: true
        type: "string"
      - name: "imageId"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "The image"
          headers:
            X-Rate-Limit-Remaining:
              type: "integer"
            X-Rate-Limit-Reset:
              type: "string"
              format: "dateTime"
        404:
          description: "Image do not exists"
          headers:
            X-Rate-Limit-Remaining:
              type: "integer"
            X-Rate-Limit_Reset:
              type: "string"
              format: "dateTime"
        500:
          description: "An unexpected error occured."
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
securityDefinitions:
  UserSecurity:
    type: "apiKey"
    name: "SIMPLE-API-KEY"
    in: "header"
  AdminSecurity:
    type: "apiKey"
    name: "ADMIN-API-KEY"
    in: "header"
  MediaSecurity:
    type: "apiKey"
    name: "MEDIA-API-KEY"
    in: "query"
  OauthSecurity:
    type: "oauth2"
    authorizationUrl: "https://oauth.simple.api/authorization"
    tokenUrl: "https://oauth.simple.api/token"
    flow: "accessCode"
definitions:
  Person:
    required:
    - "username"
    properties:
      firstName:
        type: "string"
      lastName:
        type: "string"
      username:
        type: "string"
      dateOfBirth:
        type: "string"
        format: "date"
      lastTimeOnline:
        type: "string"
        format: "dateTime"
        readOnly: true
      avatarBase64PNG:
        type: "string"
        format: "byte"
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
        default: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgA……rkJggg=="
        x-regex: "^(?:[A-Za-z0-9+\\/]{4})*(?:[A-Za-z0-9+\\/]{2}==|[A-Za-z0-9+\\/]{3}=)?$"
        x-modifiers: []
    example:
      firstName: "firstName"
      lastName: "lastName"
      lastTimeOnline: "lastTimeOnline"
      dateOfBirth: "2000-01-23"
      avatarBase64PNG: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgA……rkJggg=="
      username: "username"
  Persons:
    properties:
      items:
        type: "array"
        uniqueItems: true
        items:
          $ref: "#/definitions/Person"
        maxItems: 100
        minItems: 10
    type: "array"
  Paging:
    properties:
      totalItems:
        type: "integer"
      totalPages:
        type: "integer"
      pageSize:
        type: "integer"
      currentPage:
        type: "integer"
  PagedPersons: {}
  Error:
    required:
    - "code"
    - "message"
    properties:
      code:
        type: "string"
        enum:
        - "DBERR"
        - "NTERR"
        - "UNERR"
      message:
        type: "string"
parameters:
  username:
    name: "username"
    in: "path"
    description: "The persons's username"
    required: true
    type: "string"
    maxLength: 64
    minLength: 8
    pattern: "[a-z0-9]{8,64}"
    x-regex: "[a-z0-9]{8,64}"
    x-modifiers: []
  pageSize:
    name: "pageSize"
    in: "query"
    description: "Number of persons returned"
    required: false
    type: "integer"
    default: 20
    maximum: 100
    exclusiveMaximum: false
    exclusiveMinimum: true
    multipleOf: 10
  pageNumber:
    name: "PageNumber"
    in: "query"
    description: "Page number"
    required: false
    type: "integer"
    default: 1
  includeNonVerifiedUsers:
    name: "includeNonVerifiedUsers"
    in: "query"
    required: false
    type: "boolean"
    default: false
    allowEmptyValue: true
  userAgent:
    name: "User_Agent"
    in: "header"
    required: true
    type: "string"
responses:
  Standard500ErrorResponse:
    description: "An unexpected error occured."
    schema:
      $ref: "#/definitions/Error"
  PersonDoesNotExistResponse:
    description: "Person does not Exist."
